*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(244,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.insta-wp{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;

}

.insta-fone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-fone img{
    height: 70vh;
    border-radius: 5%;
}

.insta-conta{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0px;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.insta-logo{
    height: 3rem;
}

.fotopf{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

}

.fotopf img{
    width: 100%;
    height: 11vh;
}

.insta-login{
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.insta-logar{
    color: #0095f6;
    margin-top: 1rem;
}

.not{
    color: rgb(160,160,160);
}

.link-blue{
    color: #0095f6;
}

.get{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0px;
}

.baixe{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app:nth-child(1){
    background-image: url(./img/apple-button.png);
}

.app:nth-child(2){
    background-image: url(./img/googleplay-button.png);
}

span{
    color: #0095f6;
}

.gettext{
    font-weight: 700;
    color: black;
}

@media(max-width:1024px){
    .insta-wp{
        width: 90%;
    }
}

@media(max-width:650px){
    .group{
        border: 1px solid transparent;
    }
    
    body{
        background-color: #FFF;
    }
    .insta-wp{
        width: 90%;
    }

    .insta-fone{
        display: none;
    }

    .insta-conta{
        width: 100%;
    }
}